:root {
    --palette-font: #3c3c3c;
    --palette-primary: #08c18a;
    --palette-bg-1: hsl(50deg 34% 85%);
    --palette-bg-2: hsl(100deg 34% 85%);
    --palette-bg-3: hsl(150deg 34% 85%);

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
    background: #dbdbdb;
    color: var(--palette-font);
}

img {
    display: block;
}

a {
    color: var(--palette-primary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table,
td,
th {
    border: 1px solid #d2d2d8;
    padding: 10px;
}

.icon {
    display: block;
    width: 128px;
    height: 128px;
    cursor: pointer;

    svg {
        width: 128px;
        height: 128px;
    }
}